
$logo-background-color: #263544;
$logo-background-shadow: #041322;
$logo-text-color: burlywood;

$header-background-color: white;
$header-background-shadow: darkgrey;
$header-text-color: black;

$side-background-color: white;
$side-background-shadow: darkgrey;
$side-text-color: black;

$main-background-color: darkgrey;

$side-nav-width: 225px;
