@import '~src/styles.scss';

:host {
  display: grid;
  place-items: center;

  background-color: $logo-background-color;
  border-right: solid 1px $logo-background-shadow;
  border-bottom: solid 1px $logo-background-shadow;

  color: burlywood;
  text-decoration: bold;
}
