@import '~src/styles.scss';

:host {
  background-color: $side-background-color;
  border-right: 3px solid $side-background-shadow;

  width: $side-nav-width;

  overflow: auto;

  ul {

    list-style-type: none;
    padding-left: 20px;

    li {
      color: $side-text-color;
      height: 45px;

    }
  }
}

